<div class="row align-items-center" style="height: calc(100vh - 146px);" >
    <div class="col-md-4">
        <form class="flight-booking-form" [formGroup]="flightBookingForm"
            (ngSubmit)="onSubmit(flightBookingForm.value)">

            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="d-block">
                        <mat-label>Departure City</mat-label>
                        <input matInput [matAutocomplete]="auto" formControlName="departureCity">
                        <mat-autocomplete #auto="matAutocomplete">
                            <ng-container *ngFor="let state of filtereDepartureCity | async">
                                <mat-option [disabled]="flightBookingForm.controls.destinationCity.value == state.city"
                                    [value]="state.city">
                                    <span>{{state.code}} </span>
                                    <span>{{state.city}}</span> |
                                    <small>{{state.airportName}}</small>
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="d-block">
                        <mat-label>Destination City</mat-label>
                        <input matInput [matAutocomplete]="auto1" formControlName="destinationCity">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <ng-container *ngFor="let state of filtereDestinationCity | async">
                                <mat-option [disabled]="flightBookingForm.controls.departureCity.value == state.city"
                                    [value]="state.city">
                                    <span>{{state.code}} </span>
                                    <span>{{state.city}}</span> |
                                    <small>{{state.airportName}}</small>
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="d-block">
                        <mat-label>Departure Date</mat-label>
                        <input matInput [matDatepicker]="departureDate" formControlName="departureDate">
                        <mat-datepicker-toggle matSuffix [for]="departureDate"></mat-datepicker-toggle>
                        <mat-datepicker #departureDate></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="d-block">
                        <mat-label>Return Date</mat-label>
                        <input matInput [matDatepicker]="returnDate" formControlName="returnDate">
                        <mat-datepicker-toggle matSuffix [for]="returnDate"></mat-datepicker-toggle>
                        <mat-datepicker #returnDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="d-block">
                        <mat-label>No of Travellers</mat-label>
                        <input matInput type="number" formControlName="traveler" maxlength="2" minlength="1">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="d-block">
                        <mat-label>Travel Class</mat-label>
                        <mat-select formControlName="travelClass">
                            <mat-option value="econimy">Economy</mat-option>
                            <mat-option value="bacis">Basic</mat-option>
                            <mat-option value="main">Main</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <button mat-flat-button color="primary" class="btn-block" color="primary" type="submit"
                        [disabled]="!flightBookingForm.valid">Search Flights</button>
                </div>
            </div>

        </form>
    </div>
</div>